In [1]:
import sys

In [2]:
sys.executable

'/anaconda3/bin/python'

In [3]:
sys.path

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/ajithkumar/.ipython']

In [9]:
sys.path.append('/anaconda3/envs/py3.7/lib/python37.zip')
sys.path.append('/anaconda3/envs/py3.7/lib/python3.7')
sys.path.append('/anaconda3/envs/py3.7/lib/python3.7/lib-dynload')
sys.path.append('/anaconda3/envs/py3.7/lib/python3.7/site-packages')

In [10]:
sys.path

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/ajithkumar/.ipython',
 ['/anaconda3/envs/py3.7/lib/python37.zip',
  '/anaconda3/envs/py3.7/lib/python3.7',
  '/anaconda3/envs/py3.7/lib/python3.7/lib-dynload',
  '/anaconda3/envs/py3.7/lib/python3.7/site-packages'],
 '/anaconda3/envs/py3.7/lib/python37.zip',
 '/anaconda3/envs/py3.7/lib/python3.7',
 '/anaconda3/envs/py3.7/lib/python3.7/lib-dynload',
 '/anaconda3/envs/py3.7/lib/python3.7/site-packages']

In [13]:
import savReaderWriter as s
import pandas as pd

In [15]:
df= pd.DataFrame(list(s.SavReader('data/spss/survey.sav')))

In [16]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
0,415.0,2.0,24.0,4.0,1.0,5.0,7.0,2.0,NaN,3.0,...,35.0,4.0,51.0,1.0,1.0,4.0,1.623249,0.958016,0.000045,18.100643
1,9.0,1.0,39.0,3.0,1.0,5.0,1.0,1.0,2.0,2.0,...,34.0,5.0,40.0,2.0,3.0,4.0,1.544068,3.640753,0.015852,14.482011
2,425.0,2.0,48.0,4.0,1.0,2.0,4.0,2.0,NaN,3.0,...,31.0,8.0,47.0,3.0,4.0,1.0,1.146128,1.307418,0.014042,14.214291
3,307.0,1.0,41.0,5.0,1.0,2.0,1.0,2.0,0.0,3.0,...,40.0,3.0,63.0,2.0,4.0,1.0,1.556303,1.314176,0.005404,14.169411
4,440.0,1.0,23.0,1.0,2.0,5.0,1.0,2.0,0.0,3.0,...,21.0,4.0,46.0,1.0,1.0,4.0,1.041393,2.718887,0.000376,13.702974

In [17]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
count,439.000000,439.000000,439.000000,439.000000,438.000000,439.000000,422.000000,436.000000,360.000000,435.000000,...,436.000000,433.000000,430.000000,439.000000,439.000000,439.000000,435.000000,429.000000,4.260000e+02,432.000000
mean,276.414579,1.578588,37.437358,3.371298,1.577626,4.086560,3.409953,1.805046,16.588889,3.264368,...,33.532110,5.304850,60.625581,1.972665,2.954442,3.091116,1.261443,1.993438,3.031251e-03,2.993056
std,165.854908,0.494349,13.202500,1.758527,0.494502,1.226338,2.919375,0.396620,44.901413,1.002988,...,5.394878,2.042239,11.985103,0.807601,1.415092,1.216661,0.152736,2.234294,7.916058e-03,2.793181
min,1.000000,1.000000,18.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,18.000000,0.000000,20.000000,1.000000,1.000000,1.000000,1.000000,0.003542,7.410645e-10,0.090484
25%,131.500000,1.000000,26.000000,2.000000,1.000000,3.000000,1.000000,2.000000,0.000000,3.000000,...,30.000000,4.000000,53.000000,1.000000,2.000000,2.000000,1.146128,0.534432,1.292605e-04,1.116525
50%,280.000000,2.000000,36.000000,4.000000,2.000000,4.000000,1.000000,2.000000,0.000000,3.000000,...,35.000000,5.000000,62.000000,2.000000,3.000000,3.000000,1.255273,1.322372,5.577625e-04,1.991691
75%,422.500000,2.000000,47.000000,4.000000,2.000000,5.000000,6.000000,2.000000,0.000000,4.000000,...,38.000000,7.000000,69.000000,3.000000,4.000000,4.000000,1.361728,2.538417,2.413055e-03,3.861837
max,702.000000,2.000000,82.000000,8.000000,2.000000,6.000000,9.000000,2.000000,280.000000,5.000000,...,40.000000,10.000000,88.000000,3.000000,5.000000,5.000000,1.662758,13.896642,9.448698e-02,18.100643

In [18]:
df.shape

(439, 134)

In [24]:
df.count(axis=0)

0      439
1      439
2      439
3      439
4      438
5      439
6      422
7      436
8      360
9      435
10     436
11     436
12     436
13     436
14     436
15     436
16     436
17     436
18     436
19     436
20     436
21     436
22     436
23     436
24     436
25     436
26     436
27     436
28     436
29     435
      ...
104    433
105    433
106    433
107    436
108    436
109    436
110    436
111    436
112    433
113    433
114    433
115    433
116    433
117    433
118    435
119    436
120    436
121    435
122    436
123    433
124    436
125    433
126    430
127    439
128    439
129    439
130    435
131    429
132    426
133    432
Length: 134, dtype: int64

In [28]:
df.index

RangeIndex(start=0, stop=439, step=1)

In [30]:
df.columns

RangeIndex(start=0, stop=134, step=1)

In [31]:
df.size

58826